<h2>Editar perfil <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, disabled: true%>
    <%= f.input :age, as: :integer %>
    <%= f.input :address %>
    <%= f.input :cpf, disabled: true %>
    <%= f.input :bio %>
    <%= f.input :experience %>
    <%= f.input :price, as: :float %>
    <%= f.input :phone, as: :tel %>
    <%= f.input :region %>
    <%= f.input :email, required: true, disabled: true %>
    <%= f.input :current_password, hint: "Precisamos da sua senha para confirmar as mudanças", required: true, label: 'Senha atual' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Atualizar', class: 'button primary red'%>
  </div>
<% end %>

<h3>Cancelar minha conta</h3>

<p><%= link_to 'Cancelar minha conta', registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar? Todos os seus dados serão perdidos" }, method: :delete %></p>

<%= link_to 'Voltar', :back %>
