<h1>Perfil <%= @walker.name %></h1>
<%= @walker.age %>
<%= @walker.bio %>
<%= @walker.experience %>
<%= @walker.price %>
<%= @walker.region %>

<% if current_user != @walker %>
  <%= link_to 'Enviar proposta', new_walker_proposal_path(@walker) %>
<% end %>

<% if current_walker == @walker %>
  <%= link_to 'Editar perfil', edit_walker_registration_path(@walker), role: 'button' %>
<% end %>
