<h1>Perfil <%= @walker.name %></h1>
<%= @walker.age %>
<%= @walker.bio %>
<%= @walker.experience %>
<%= @walker.price %>
<%= @walker.region %>

<% if current_user != @walker %>
  <%= link_to 'Enviar proposta', new_proposal_path %>
<% end %>
