<header class="header">
  <% if current_user == @user %>
  <%= link_to 'Cadastrar Cachorro', new_dog_path(@user), class: "button primary" %>
  <% end %>
</header>
<section class="profile">
  <h1><%= @user.name %></h1>
  <div class="data">
    <dl>
      <dt class="label">Endereço</dt>
      <dd>
        <%= @user.address %>
      </dd>
    </dl>
  </div>
  <div class='dogs'>
    <% if @user.dogs.empty? %>
      <% if @user == current_user %>
        <p>Você ainda não cadastrou nenhum cachorro =(</p>
      <% else %>
        <p>Nenhum cachorro foi cadastrado. :(</p>
      <% end %>
    <% else %>
      <% @user.dogs.each do |dog| %>
        <div class="jumbotron cols">
          <div class="col">
            <%= image_tag dog.avatar.url(:thumb) %>
          </div>
          <div class="col">
            <h2><%= dog.name %></h2>
            <div class="data">
              <dl>
                <dt class="label">Idade</dt>
                <dd>
                  <%= dog.age %> anos
                </dd>
                <dt class="label">Porte</dt>
                <dd>
                  <%= dog.size %>
                </dd>
                <dt class="label">Raça</dt>
                <dd>
                  <%= dog.race %>
                </dd>
                <dt class="label">Personalidade</dt>
                <dd>
                  <%= dog.personality %>
                </dd>
              </dl>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
</section>

<% if @user == current_user %>
  <section class='proposals'>
    <h1>Minhas propostas</h1>
    <% if @proposals.empty? %>
      <p>Você não enviou propostas</p>
    <% else %>
      <div class="jumbotron cols">
        <% @proposals.each do |proposal| %>
          <div class="data">
            <dl>
              <dt class="label">Nome</dt>
              <dd>
                <%= proposal.walker.name %>
              </dd>
              <dt class="label">Cães</dt>
              <dd>
                <%= proposal.dogs %>
              </dd>
              <dt class="label">Dias</dt>
              <dd>
                <%= proposal.days %>
              </dd>
              <dt class="label">Período</dt>
              <dd>
                <%= proposal.hours %>
              </dd>
              <dt class="label">Status</dt>
              <% if proposal.pending? %>
                <dd>Aguardando resposta</dd>
              <% elsif proposal.refused? %>
                <dd>Proposta recusada</dd>
              <% elsif proposal.approved? %>
                <dd>
                  Proposta aceita
                  <% if proposal.rating %>
                    <p>Nota: <%= proposal.rating %></p>
                  <% else %>
                    <p>Avalie o walker!</p>
                    <%= form_tag(rate_proposal_path(proposal), method: 'post') do %>
                      <%= radio_button_tag(:rating, "1") %>
                      <%= label_tag(:rating_1, "1") %>
                      <%= radio_button_tag(:rating, "2") %>
                      <%= label_tag(:rating_2, "2") %>
                      <%= radio_button_tag(:rating, "3") %>
                      <%= label_tag(:rating_3, "3") %>
                      <%= radio_button_tag(:rating, "4") %>
                      <%= label_tag(:rating_4, "4") %>
                      <%= radio_button_tag(:rating, "5") %>
                      <%= label_tag(:rating_5, "5") %>
                      <%= submit_tag('Enviar nota') %>
                    <% end %>
                  <% end %>
                </dd>
              <% end %>
            </dl>
          </div>



        <% end %>
      </div>
    <% end %>
  </section>
<% end %>
