<section class='create-dog'>
  <h2>Adicionar Cachorro</h2>

  <%= simple_form_for @dog do |f|%>
    <%= f.input :name %>
    <%= f.input :age %>
    <%= f.input :size %>
    <%= f.input :race %>
    <%= f.input :personality %>
    <%= f.input :avatar, as: :file %>
    <%= f.button :submit, 'Salvar' %>
  <% end %>
</section>
